body {
    font-family: Arial, sans-serif;
}

.completed {
    text-decoration: line-through;
}

.container {
    margin-top: 5vh;
}

#shoppingLists * {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}