.navbar {
    background-color: rgb(0, 251, 255);
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

body {
    margin: 0px;
}

.navbar a {
    color: rgb(0, 0, 0);
    font-size: x-large;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(13, 0, 255);
}

.mainPageContainer {
    display: flex;
    justify-content: space-evenly;
}

.headMainPage {
    margin-top: 180px;
}

.naseSluzby {
    background-color: black;
    color: white;
    padding: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.naseSluzbyRows {
    display: flex;
    flex-direction: column;

}

.containerRows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerRows p {
    margin-right: 30px;
}

.whyUs {
    padding: 40px;
}

.whyUsContainer {
    display: flex;
    flex-direction: row;
}

.whyUsBlock {
    display: flex; /* "ZAPNUTÍ" FLEXBOXU */ 
    flex-direction: column; /* NASTAVENÍ ORIENTACE NA SLOUPEC */ 
    text-align: center; /* TEXT SE ZAROVNÁ DOPROSTŘED */ 
    padding: 10px; /* ODSAZENÍ OD KRAJŮ*/
}

.postup {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 40px;
}

.vnitriContainer {
    display: flex;
    flex-direction: row;
}

.item {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(219, 219, 219);
}